<%- include('header.ejs') %>
<h1 class="d-flex justify-content-center"><% if (typeof car === 'undefined') { %>
  Add
  <% }else{ %>
  Edit
  <% } %> Car</h1>
<div class="d-flex justify-content-center">

  <form method="post">
    <div class="form-group">
      <label for="LicensePlateInput">License Plate</label>
      <input name="licenseplate" type="text" class="form-control" id="LicensePlateInput" placeholder="eg. ABC-123" value="<%= (typeof car === 'undefined') ? '' : car.plate %>">
    </div>
    <div class="form-group">
      <label for="MakeInput">Make</label>
      <input name="make" type="text" class="form-control" id="MakeInput" placeholder="eg. Audi" value="<%= (typeof car === 'undefined') ? '' : car.make %>">
    </div>

    <div class="form-group">
      <label for="ModelInput">Model</label>
      <input name="model" type="text" class="form-control" id="ModelInput" placeholder="eg. A5" value="<%= (typeof car === 'undefined') ? '' : car.model %>">
    </div>
    <div class="form-group">
      <label for="VINInput">VIN</label>
      <input name="vin" type="text" class="form-control" id="VINInput" placeholder="eg. 123512352135" value="<%= (typeof car === 'undefined') ? '' : car.vin %>">
    </div>
    <div class="form-group">
      <label for="YearInput">Year</label>
      <input name="year" type="text" class="form-control" id="YearInput" placeholder="eg. 1999" value="<%= (typeof car === 'undefined') ? '' : car.year %>">
    </div>
    <button type="submit" class="btn btn-primary col-12 mt-3 ">Submit</button>
  </form>
</div>
<%- include('footer.ejs') %>